.blogsListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .singleBlog {
        background-color: white;
        height: 200px;
        margin: 10px 0px;
        border-radius: 20px;
        display: flex;
        width: 32%;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.07);

        &:first-child {
            width: 100%;
            height: 250px;
            .singleBlogImage {
                width: 400px;
            }

        }
        
        h3, p {
            margin: 0px;
        }

        .singleBlogContent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            padding: 20px;
            .category {
                font-size: 12px;
            }
            .title {
                font-size: 22px;
            }
            .author, .likes {
                font-size: 14px;
            }
            .singleBlogFooter {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                div {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

}