nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 65px;
    font-size: 14px;
    z-index: 100;
    .logo {
        height: 33px;
        img {
            width: 125px;
        }
    }
    ul {
        display: flex;
        list-style: none;
        color: black;
        margin: 0px;
        &:active {
            color: black;
        }
        &:focus {
            color: black;
        }
        li {
            padding: 10px 20px;
        }
        .dropdown.userMenu {
            ul {
                margin-top: 10px;
                margin-left: -10px;
                padding: 10px 10px;
                background: white;
                border-radius: 5px;
                box-shadow: 2px 3px 8px rgba(0,0,0,0.16);
                li {
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        background-color: $hoverGreyBackground;
                    }
                }
            }
        }
    }
}

.sidebarMenu {
    position: fixed;
    top: 0;
    right: -100%; // Hidden by default
    width: 250px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out; // Smooth transition for opening/closing
    z-index: 1000; // Ensures sidebar is above other elements
    display: flex;
    flex-direction: column;
    padding: 20px;
    &.open {
        right: 0; // Slide into view when open
    }
    ul {
        list-style: none;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        li {
            margin: 0px 0;

            a, p {
                text-decoration: none;
                color: #333;
                font-size: 1rem;
                cursor: pointer;

                &:hover {
                    color: #007bff; // Highlight on hover
                }
            }

        }
        .dropdown {
            position: relative;

            ul {
                padding-left: 15px;
                margin-top: 10px;
                background-color: rgb(228, 228, 228) !important;
                width: 85%;
                box-shadow: none !important;
                li {
                    margin: 0px 0;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .sidebarMenu {
        display: none; // Hide the sidebar on larger screens
    }
}
