
.sideBar {
    border-radius: 20px;
    background-color: white;
    box-shadow: $box-shadow;
    min-height: 300px;
    padding: 0px 30px;
    box-sizing: border-box;
    ul {
        padding: 0px;
        margin: 0px;
    }
    
    li {
        list-style: none;
        transition: background-color 0.2s;
        &:hover {
            cursor: pointer;
            border-radius: 5px;
            background-color: $hoverGreyBackground;
            transition: background-color 0.2s;
        }
        a {
            padding: 10px 20px 10px 40px;
            display: block;
            box-sizing: border-box;
        }
    }
}