body {
    min-height: 100vh;
    background-color: $backgroundColor;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
#root {
    height: 100vh;
}


a {
    text-decoration: none;
    cursor: pointer;
    &:visited {
        color: black !important;
    }
    &:active {
        color: black !important;
    }
}

.clickable {
    margin: 0px;
    cursor: pointer;
}

