$primaryColor: #0060df;
$secondaryColor: #ede5f5;
$backgroundColor: #f7f8fc;
$white: #ffffff;

$hoverGreyBackground: rgba(244,244,244,1);

$backgroundImage: url(../static/images/abstract-colorful-background.jpg);

$box-shadow: 0px 2px 10px rgba(0,0,0,0.1);